.slideshow__content{
    display: flex;
    flex-wrap: nowrap;
}
.slideshow__slide{
    position: relative;
    width: 100%;
    overflow:hidden;
    transition: 0.3s all ease;
    z-index: 10;
}
.slideshow__img{
    width: 25rem;
    height: 30rem;
    vertical-align: top;
}
.slideshow__icon{
    position: absolute;
    font-size: 60px;
    top: 40%;
    margin: 0 10rem;
    color: $Primary_Color;
    z-index: 1000;
    transition: 0.3s all ease;
    &:hover{
        transform: scale(1.1);
        color: lighten($color: $Primary_Color, $amount: 10);
    }
}
.fa-arrow-left{
    left: 0;
}
.fa-arrow-right{
    right: 0;
}
.slideshow__info{
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.739);
    bottom: 0;
    right: 0;
    z-index: 1; 
    padding: 1rem                                                                ;
}
.slideshow__title{
    color: $Light_Color;
    font-size: 30px;
    z-index: 1;
    font-family: 'Oswald', sans-serif;
}
.slideshow__date{
    color: $Light_Color;
    font-size: 25px;
    z-index: 1;
    font-family: 'Oswald', sans-serif;
}