.animeinfo__container{
    position: relative;
    width: 100%;
    max-height: 26rem;
    min-height: 26rem;
    background-color: $Secondary_Color;
    padding: 5rem 1rem;
    overflow: hidden;
}
.animeinfo__content{
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    height: 100%;
}
.animeinfo__line-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.animeinfo__line{
    width: 1px;
    height: 100%;
    background-color: red;
}