.animeinfo__container{
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    height: 100%;
    padding: 0 0 0 1rem;
}
.animeinfo__content{
    background-color: $Secondary_Color;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    height: 100%;
}
.animeinfo__line-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.animeinfo__line{
    width: 2px;
    height: 100%;
    background-color: $Primary_Color;
}