.animereviews__container{
    position: relative;
    width: 100%;
}
.animereviews__content{
    background-color: $Secondary_Color;
    overflow-y: auto;
    height: 25rem ;
    display: flex;
    width: 100%;
    padding: 2rem;
    flex-wrap: wrap; 
    justify-content: center;
}
.animereviews__content::-webkit-scrollbar{
    background-color: $Secondary_Color;
    margin: 0 1rem;
    width: 10px;
}
.animereviews__content::-webkit-scrollbar-thumb{
    background: $Primary_Color;
    width: 10px;
    border-radius: 10px;
}

