.searchbar__container{
    background-color: $Secondary_Color;
    display: flex;
    padding: 0rem 20rem;
    align-items: center;
}
.searchbar__links{
    display: flex;
    width: 100%;
    justify-content: center;
}
.searchbar__link{
    color: $Light_Color;
    font-family: 'Oswald', sans-serif;
    padding: 1rem 3rem;
    font-weight: 500;
    font-size: 25px;
    cursor: pointer;
    background-color: $Secondary_Color;
    transition: 0.5s all ease;
    &:hover{
        color: lighten($color: $Light_Color, $amount: 10);
        background-color: lighten($color: $Secondary_Color, $amount: 10);
    }
}
