.airing__container{
    display: flex;
    position: relative;
    width: 100%;
    background-color: $Secondary_Color;
    justify-content: center;
    margin: 0  0 1rem 0;
    padding: 1rem;
}
.airing__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
