.navbar__container{
    display: flex;
    width: 100%;
    background-color: $Primary_Color;
    padding: 1rem 15rem;
    justify-content: space-between;
    align-items: center;
}
.navbar__title{
    color: $Light_Color;
    font-size: 45px;
    text-decoration: none;
    font-family: 'Alfa Slab One', cursive;
}
.navbar__input{
    display: flex;
    text-align: center;
    align-items: center;
    border: 2px solid $Light_Color;
    padding: 0.6rem 1rem;
    border-radius: 50px;
    color: $Light_Color;
    transition: 0.3s all ease;
    &:hover{
        border-color: lighten($color: $Light_Color, $amount: 20);
        color: lighten($color: $Primary_Color, $amount: 10);
    }
}
.navbar__form{
    display: flex;
}
.navbar__search{
    background-color: transparent;
    border: none;
    color: $Light_Color;
    width: 25rem;
    font-size: 20px;
    
    &:focus{
        outline: none;
    }
}
.fa-search{
    cursor: pointer;
    font-size: 25px;
    color: $Light_Color;
    &:hover{
        color: lighten($color: $Light_Color, $amount: 10);
    }
}
.navbar__btn{
    background-color: transparent;
    border: none;
}
.navbar__footer{
    color: $Light_Color;
    font-size: 25px;
}