
$Primary_Color: #00ADB5;

$Secondary_Color: #393E46;

$Dark_Color: #222831;

$Light_Color: #EEEEEE;


// fonts

@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&display=swap');
//font-family: 'Gemunu Libre', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
//font-family: 'Alfa Slab One', cursive;

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
//font-family: 'Oswald', sans-serif;